{{ template "header" . }}
<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- Sidebar -->
		{{ template "sidebar" . }}
		<!-- End Sidebar -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				{{ template "navbar" . }}
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- Page Heading -->
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Invoices</h1>
					</div>
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Invoices</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Id</th>
											<th>Name</th>
											<th>Email</th>
											<th>Phone</th>
											<th>Vendor code</th>
											<th>GST</th>
											<th>Address</th>
											<th>Type</th>
										</tr>
									</thead>
									<tbody>
										{{ range index .  }} 
											<tr>
												<td>{{ .ID }}</td>
												<td>{{ .Name }} </td>
												<td>{{ .Email }}</td>
												<td>{{ .Phone }}</td>
												<td>{{ .VendorCode }} </td>
												{{ if .Gst.Valid }}
													<td>{{ .Gst.String }}</td>
												{{ else }}
													<td></td>
												{{ end }}
												{{ if .Address.Valid }}
													<td>{{ .Address.String }}</td>
												{{ else }}
													<td></td>
												{{ end }}
												<td>{{ .Type }}</td>
											</tr>
										{{ end }}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- Content Row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- End of Main Content -->
			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Aropay 2022</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	{{ template "script" . }}
	<script src="/datatables/jquery.dataTables.min.js"></script>
	<script src="/datatables/dataTables.bootstrap4.min.js"></script>
</body>
</html>